@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
}
.sidebar {
  width: 180px;
  height: 100vh;
  background-color: #EDE9FE;
  padding: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 500; /* Medium */
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 16px;
}

.link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 2px;
  color: #4b5563; /* cinza escuro */
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.2s, color 0.2s;
}

.link:hover {
  background-color: #e0dbf9;
  color: #1e1b4b;
}

.active {
  background-color: #ddd6fe;
  color: #3b0764;
  font-weight: 600;
}
