@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Cormorant+Garamond:wght@400;500;600&display=swap");

/* banner.module.css */
.banner {
  position: relative;
  width: 100%;
  max-width: 80rem;
  height: 350px;
  margin: 3rem auto 2rem auto;
  overflow: hidden;
}

.bannerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  filter: brightness(55%);
}

.titulo {
  position: absolute;
  top: 25%;
  left: 8%;
  color: #fff;
  font-size: 2.8rem;
  margin: 0;
  font-family: "Playfair Display SC", serif;
  letter-spacing: 1.5px;
}

.texto {
  position: absolute;
  top: 50%;
  left: 8%;
  color: #f5f5f5;
  font-size: 1.2rem;
  line-height: 1.9rem;
  max-width: 600px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
}

/* Responsivo */
@media (max-width: 768px) {
  .banner {
    height: 250px;
  }

  .titulo {
    font-size: 1.8rem;
    top: 20%;
  }

  .texto {
    font-size: 1rem;
    top: 45%;
    max-width: 85%;
  }
}
