.filtroBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50px; /* formato de pílula */
  padding: 8px 18px;
  font-size: 1rem;
  color: #2c2c2c;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filtroBtn:hover {
  background-color: #f5f5f5;
  border-color: #bbb;
}

.icon {
  font-size: 1rem;
  color: #2c2c2c;
}

.dropdownContainer {
  position: relative;
  display: inline-block;
}

.dropdown {
  position: absolute;
  top: 48px;
  left: 0;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border-radius: 8px;
  z-index: 20;
  width: 180px;
}

.option {
  width: 100%;
  padding: 10px 12px;
  background: white;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
}

.option:hover {
  background: #f0f0f0;
}
