@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600;700&family=Open+Sans:wght@400;600&display=swap");

.cta {
  position: relative;
  text-align: center;
  overflow: hidden;
  padding: 6rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "Cormorant Garamond", serif;
  width: 100%;
  height: 45rem;
}

.bgImage {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  filter: brightness(0.5);
}

.cta::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.conteudo {
  position: relative;
  z-index: 2;
  max-width: 800px;
}

.cta h2 {
  font-weight: 700; /* deixa bold */
  font-size: 2rem;
  color: #f9f3e6;
  text-transform: uppercase;
  line-height: 1.4;
  margin-bottom: 1.5rem;
}

.cta p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.8;
  color: #f5f1eb;
  margin-bottom: 2rem;
}

.cta button {
  background-color: #dbd1a5;
  color: #804700;
  border: none;
  padding: 0.9rem 2rem;
  border-radius: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta button:hover {
  background-color: rgb(240, 225, 201);
}
