/* styles/userMenu.module.css */
.menuPopup {
  position: absolute;
  top: 50px;
  right: 0;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  width: 180px;
  z-index: 999;
  padding: 8px 0;
}

.menuItem {
  padding: 12px 20px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  font-weight: 500;
  color: #333;
  transition: 0.2s;
}

.menuItem:hover {
  background-color: #f3e7e0;
  color: #753838;
}
