.cardsContainer {
  display: flex;
  gap: 1rem;
  margin: 1rem 2rem;
  flex-wrap: wrap;
}

.card {
  flex: 1;
  width: 19.25rem;
  height: 10.188rem;
  padding: 1.5rem;
  border-radius: 12px;
  background: var(--fundo-branco); /* variável existente */
  box-shadow: var(--resumo-card-shadow); /* reutilizando sombra do root */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem;
}

.title {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  color: var(--table-text); /* usando variável existente */
}

.value {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--table-text); /* usando variável existente */
}
