.filtro {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  max-width: 250px;
  overflow: visible !important;
  max-height: none !important;
}

.label {
  font-size: 0.9rem;
  color: var(--label-cinza);
  margin-bottom: 4px;
}

.caixaInput {
  position: relative;
  display: flex;
  align-items: center;
  overflow: visible !important;
  max-height: none !important;
}

.input {
  width: 100%;
  padding: 0.5rem 2rem 0.5rem 0.75rem;
  font-size: 0.95rem;
  border: 1px solid var(--cinza-borda);
  border-radius: 0.5rem;
  color: var(--label-cinza);
  background-color: var(--fundo-branco);
  box-sizing: border-box;
}

.rightIcon {
  position: absolute;
  right: 0.6rem;
  color: var(--cinza-input-icon);
  pointer-events: none;
}

.dropdownPersonalizado :global(.p-dropdown-trigger) {
  position: absolute;
  right: 0.6rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--cinza-input-icon);
}

.dropdownPersonalizado :global(.p-dropdown-clear-icon) {
  position: absolute;
  right: 1.8rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--cinza-input-icon);
}

:global(.p-dropdown-panel) {
  position: absolute !important;
  overflow-y: auto !important;
  padding: 0.25rem 0;
  background-color: var(--fundo-branco);
  border-radius: 8px;
  box-shadow: var(--resumo-card-shadow);
  z-index: 9999 !important;
}

:global(.p-dropdown-item) {
  padding: 8px 16px;
  font-size: 0.95rem;
  color: var(--label-cinza);
  cursor: pointer;
  transition: background-color 0.2s;
}

:global(.p-dropdown-item.p-highlight) {
  background-color: var(--botao-bg);
  color: var(--botao-text-color);
}

:global(.p-dropdown-item:hover) {
  background-color: var(--dropdown-item-hover-bg);
  color: var(--dropdown-item-hover-color);
}

:global(.p-dropdown) {
  overflow: visible !important;
  max-height: none !important;
  position: relative;
}
