.menuvendas {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.menuLista {
  list-style: none;
  display: flex;
  gap: 4rem;
  padding: 0;
  margin: 0;
}

.menuLista li a {
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--cinza-texto); /* cor do texto padrão */
  position: relative;
  text-decoration: none;
  transition: color 0.3s;
}

.ativo {
  color: var(--header-title-color) !important; /* roxo característico */
}

.ativo::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: var(--botao-bg); /* roxo característico */
}
